@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Ubuntu:wght@300&display=swap');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul {
  list-style: none;
}

#root {
  margin-left: 10%;
  width:80%;
}
body {
  font-family: 'Mountains of Christmas', cursive;
  color: white;
  background-color: red;
}
nav {
  text-align: center;
  float:left;
  width: 40%;
}
a {
  color:#ffffff;
  text-decoration: underline;
  -webkit-transition: all 1s 0s ease-in-out, all 0.5s 0s ease;
  -moz-transition: all 1s 0s ease-in-out, all 0.5s 0s ease;
  -o-transition: all 1s 0s ease-in-out, all 0.5s 0s ease;
  transition: all 1s 0s ease-in-out, all 0.5s 0s ease;
}
a:hover {
  color: pink;
  font-size: 2em;
}
a:visited {
  color:pink;
}
a:active {
  color:pink;
}
.Song {
  float:right;
  width: 50%;
}
pre {
  font-family: 'Mountains of Christmas', cursive;
  max-width:400px;
}
h1 {
  text-align: center;
}